* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.header {
	height: 50dvh;
	background: #1f2937;
	color: white;
	display: flex;
	flex-direction: column;
}
.header-content {
	display: flex;
	padding: 36px 0;
	justify-content: space-around;
}
.header-content h1 {
	font-size: 24px;
}

ul {
	list-style: none;
	display: flex;
	align-items: center;
	gap: 32px;
	font-size: 18x;
}

.hero {
	height: 50dvh;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 90px;
	padding: 36px;
}

.right-side {
	width: 400px;
}

.right-side h2 {
	font-size: 48px;
	font-weight: 900;
	margin-bottom: 10px;
}

.right-side p {
	font-size: 18px;
	margin-bottom: 10px;
}

.right-side button {
	padding: 8px 16px;
	font-size: 18px;
	color: white;
	background: #3882f6;
	border: none;
	border-radius: 8px;
}

.img {
	height: 200px;
	width: 400px;
	border: 1px solid white;
	display: flex;
	justify-content: center;
	align-items: center;
}

.second-section {
	height: 50dvh;
}

.second-section h2 {
	padding: 36px;
	font-size: 36px;
	text-align: center;
	font-weight: 900;
}

.cards-container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 32px;
	color: #1f2937;
}

.card {
	width: 150px;
	text-align: center;
}

.cardbox {
	height: 150px;
	width: 150px;
	border: 2px solid #3882f6;
	border-radius: 16px;
	margin-bottom: 10px;
}
